{% comment %}
<!-- Start of StatCounter Code for Default Guide -->
{% endcomment %}

<script type="text/javascript">
var sc_project=11064468;
var sc_invisible=1;
var sc_security="ec5a0246";
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="web analytics"
href="http://statcounter.com/" target="_blank"><img
class="statcounter"
src="//c.statcounter.com/11064468/0/ec5a0246/1/" alt="web
analytics"></a></div></noscript>

{% comment %}
<!-- End of StatCounter Code for Default Guide -->
{% endcomment %}